.contenedor{
    width: 100%;
    height: 100vh;
}
.bloque_contenedor{ 
    width: 100%;
    height: 80%;
    display: flex;
}
.video{
    width: 80%;
    height: 100vh;
}
.informacion{    
    background-color:#ffffff;
    height: 100vh;
    width: 20%;
}
.cabecera{
    height: 10%;
    display: flex;    
    border-bottom: 1px solid;
}

.separacion{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.logo{
    width: 50%;
    height: 50%;
}
.video_contenido{
    width: 100%;
    height: 100%;
}
.subtema{
    width: 100%;
    margin-left: 15%;
    display: flex;
    text-align: center;
    align-content: center;
}
.fas{
    font-size: 25px;
}