.contenedor{
    height: 100vh;
}
.bloque{
    padding: 50px;
    display: flex;
    justify-content: center;
}
.sub_bloque{
    width: 80%;
}
.usuario_bloque{
    display: flex;
    align-items: center;
}
.texto_us{
    margin-left: 22px;
}

.bloque_informacion{
    display: flex;
}
hr{
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #DAD8E6;
}
.informacion_megusta{
    margin-top: 25px;
    font-size:30px;
    margin-right: 50px;
    display: flex;
}
.fa-heart {
    margin-right: 5px;
}
.cantidad{
    margin-right: 5px;
}
.me_gusta{
    margin-right: 55px;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: right;
}
.Precio{
    display: flex;
    align-items: center;
    width: 100%;

}
.bloque_precio{
	margin-left: auto;
	margin-right: auto;
    width: 50%;
}
.ayuda{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_diseño{
    width: 50%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    font-size: 25px;
    border: none;
    margin-bottom: 5px;
}

.btn_diseño_cap{
    width: 60%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.comprado{
    width: 60%;
    height: 40px;
    font-size: 20px;
    border: none;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.btn_diseño:hover{
    background-color:#7c7096;
    color: white;
}

.btn_diseño_cap:hover{
    background-color:#7c7096;
    color: white;
}