*{
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #DEE0E9;
}
.home{  
    flex-wrap: wrap;
}
.in-flex{   
    flex: 1;     
    min-width: 250px;
}
.in-flex:first-child{
    align-items:center;
    display: flex;
    flex: 2;
    padding: 25px;
    background-color:#B8B7C9;
    margin-bottom: 0px;
}
.Botones{
    background: chartreuse;
    flex-wrap: wrap;
}
.hal{
    color: #79769d;
    width: 150px;
    border: solid 5px white;
    font-size: 25px;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Harmattan', sans-serif;
}

.in-flex div{
    padding: 25px;
    margin: 20px;
}

