
*{
   
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.home{  
    flex-wrap: wrap;
}
.header{   

    position: fixed;
}
.in-flex:first-child{
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
}
.more{
    height: 20px;
    width: 50px;
}
.lupa{
    width: 10px;
    height: 10px;
    flex-wrap: wrap;
}
.Botones{
    display: flex;
    align-items: center;
    float: right;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}
.botoncito{
    color: #79769d;

    width: 150px;
    border: solid 5px white;
    font-size: 25px;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Harmattan', sans-serif;
}

.in-flex div{
    padding: 25px;
    margin: 20px;
}
.carousel-item{
    padding: 25px;
    width: 10px;
    height: 350px;
}
