
.contenedor{
    width: 100%;
    padding: 26px;
}
.menus{
    
    display: flex;
}
input[type="radio"]{
    display: none;
}
.contenedor-categoria{   
    width: 20%;
    padding: 25px;
    border-right: 2px solid #DEE0E9;
}
.contenedor-categoria1{
    width:100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.sub-bloque-contenido{
    background-color: white;
}

/**/
.bloque_contenedor_cursos{
    display: flex;
    width: 100%; 
}
.cabecera{
    width: 100%;
}
.hi{
    width: 100%;
    display: flex;   
}
.bontones_seleccion{
    text-align: center;
    width: 50%;
}
.text_decoration:hover{
    color: white;
}
.save_btn{
    border: none;
    background-color:rgb(255, 242, 218);
    width: 20%;
}
.save_btn:hover{
    background-color: white;
}

.caja{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}
.text_input{
    width: 50%;
    height: 40px;
    font-size: 30px;
    border: none;
    background-color: #ffffff;
}
.subcaja{
    width: 100%;
    height: 100%;
}
.img_box{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEE0E9;
    border-radius: 5px;
}
.btn_img h1{
    text-align: center;
    color: #DEE0E9;
}
.btn_img{
    position:relative  ;
    width: 80%;
    border-radius: 5px;
    background-color: white;
}
.btn_enviar{
    position: absolute ;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom:0px ;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.cabecera_nivel{
    display: flex;
}
.cabecera_nivel input{
    width: 80%;
}
.capitulos{
    width: 100%;
    background-color: #DEE0E9;
}
.nombre_del_subcapitulo{
    display: flex;
}
.btn{
    display: flex;
}
.btn_video1{
    position:relative  ;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;    
    padding: 25px;
}
.nombre_del_subcapitulo{
    margin-bottom: 15px;
}
.btn_contenidos{
    display: flex;
}

.plus{
    background-color: transparent;
    border: none;
}
.btd_addchap{
    display: flex;
    justify-content: right;
    align-items: center;
}
.btn_addsec{    
    display: flex;
    align-items: center;
}
.btn_video{
    position:relative  ;
    padding: 25px;
    background-color: white;
}

/*------------------------------------------------------*/
.cont_cursos{
    width: 100%;
    display: flex;
    justify-content: center;
}

.bloque_de_cursos{
    width: 80%;   
    margin-bottom: .4rem; 
}
.curso_cajita{
    background-color: #DEE0E9;
    display: flex;
    margin-bottom: 10px; 
    justify-content: space-between;
}

.ds_delete{
    background-color:white;
    width: 100%;
    border: none;
    margin-bottom: .5rem;
}
.ds_delete:hover{
    background-color:rgb(255, 242, 218);
}
/*-------------------------------------------------*/
.bloque-contenido{
    width: 100%;
    display: flex;
    
}
/*-------------------------------------------------*/
.container-dis{
    width: 100%;
}
.container{
    display: flex;
    justify-content: space-between;
}
.bloque-menu{
    background-color: #DEE0E9;
        width: 100%;
        justify-content: center;
        padding: 50px;
}
.contenedor-filtro{
    width: 100%;
}
.contenedor-filtro label{
    font-size: 15px;
    border-radius: 5px;
}
.contenedor-filtros{
    display: flex;
    justify-content: right;
}
.cont-btn-filtro{
    display: flex;
    width: 100%;
}
.diseño:hover{      
    opacity: .5;
}

.nav-filtro li a{  
    text-decoration: none;
    display: block;
    width: 150px; 
    text-decoration: none; 
}
.nav-filtro >li{
    float: left;
}
.nav-filtro  li a:hover{
    color: white ;  
}
.nav-filtro ul li a:hover{
    color: #c2bad4 ;  
}
.nav-filtro li ul{
    display:none ;
    position: absolute; 
}
.design-filtro{
    font-size: 20px;
    color:  #7c7096;
    background-color: white;
}
.design-filtro:hover{
    color: #DEE0E9;
}

.nav-filtro li:hover>ul{
    display: block;
}
.nav-filtro li ul li ul{
    right: -240px;
    top:-2px
}
.puntuacion{
    display: flex;
    align-items: center;
}
.puntuacion i{
    margin-right: 15px;
}
/*--------------------------------------------*/
#Info:checked ~ #filtrado .contenedor-contenido{
    display:none;
}
#contenido:checked ~ #filtrado .contenedor-Info{
    display:none;
}
/*----------------------------------*/
#cursos:checked ~ #Registro .contenedor-diplomas,
#cursos:checked ~ #Registro .contenedor-guardado,
#cursos:checked ~ #Registro .contenedor-proyectos{
    display:none;
}
#proyectos:checked ~ #Registro .contenedor-cursos,
#proyectos:checked ~ #Registro .contenedor-diplomas,
#proyectos:checked ~ #Registro .contenedor-guardado{
    display:none;
}

#diplomas:checked ~ #Registro .contenedor-guardado,
#diplomas:checked ~ #Registro .contenedor-cursos,
#diplomas:checked ~ #Registro .contenedor-proyectos{
    display:none;
}
#guardados:checked ~ #Registro .contenedor-diplomas,
#guardados:checked ~ #Registro .contenedor-cursos,
#guardados:checked ~ #Registro .contenedor-proyectos{
    display:none;
}
/*-----------------------------------*/
#Todos:checked ~ #filtrado .contenedor-sinver{
    display:none;
}
#sinver:checked ~ #filtrado .contenedor-Todos{
    display:none;
}
/*-----------------------------------*/

.accordion{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.accordion-item{
    background-color: #DEE0E9;

    margin-bottom: 5px;
}
.accordion-link{
    font-size: 1.6rem;
    color: #8D738F;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.accordion-link i{
    color: #8D738F;
    padding: .5rem;
}
.accordion-link .fa-angle-up{
    display: none;
}

.answer{
    display: flex;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    position: relative;
}
.fa-circle-notch{
    color: gray;
    font-size: 20px;
}
.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    
}
.answer p{
    font-size: 1.4rem;
    color: #7c7096;
}
.accordion-item:target .answer{
    max-height: 20rem;
}
.accordion-item:target .accordion-link .fa-angle-down{
    display: none;
}
.accordion-item:target .fa-angle-up
{
    display: block;
}
.sub_temas, .fa-circle-notch{
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
}