
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Harmattan', sans-serif;
    color: #7e749e;
    
}


body{
    border: none;
    list-style: none;
    text-decoration: none;
    background-color: #dce0f067;

}

a {
    text-decoration: none;
    color: #7e749e;
}

ul {
    list-style: none;
}
.header{
    margin: auto;
    height: 150px;
    width: 100%;
}

.nav{
    height: 150px;
    background-color: #B8B7C9;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin: 0 auto;
}

.nav-menu{ 
    align-items: center;
    display: flex;
    list-style: none;
    padding: 25px;
    overflow: hidden;
    word-wrap: break-word;
}

.nav-item{
    width: max-content;
}


.fas{
    color: #7c7096;
    font-size: 25px;
    width: 30px;
    height: 30px;
}
.fa-shopping-cart{ 
    width: 80px;
}
.fa-shopping-cart:hover{
    color: white;
    cursor: pointer;
}
.fa-search:hover{
    color: #c2bad4;
}
.fa-comment{
    margin-right: 15px;
}
.fa-comment:hover{
    color: white;
    cursor: pointer;
}

.logo{
    width: 200px;
    height: 60px;
    margin-left: 40px;
    margin-right: 20px;
}

.btn-sesion{
    width: 150px;
    height: 35px;
    border: white solid 2px;
    border-radius: 2px;
    text-align: center;
    line-height: 15px;
    background-color: transparent;
    font-size: 20px;
    overflow: hidden;
    margin-left: 5px;
}

.btn-log{ 
    border: white solid 2px;
    border-radius: 2px;
    background-color: rgb(255, 242, 218) ;
}
.btn-sesion:hover{
    background-color: white;
    cursor: pointer;
}
.btn-carrito{
    background-color: transparent;
    border: none;
    border-right: white 2px solid;
    margin-right: 10px;
}
.menu-categorias{
    display: flex;
}

.search{
    height: 51px;
    width: 100%;
    font-size: 30px;
    background-color: rgb(255, 242, 218) ;
    border: none;
    margin-left: 50px;
}


::placeholder{
    color: #c2bad4;
    font-size: 25px;
}

.fa-search{
    width: 50px;
    padding: 10px;
}
.fa-search{
    background-color: white;
    height: 51px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
/*-----------------------------------------*/

.diseno{    
    width: 250px;
}
.longitud {
    height: 204px;
}
.scroll_nav {
    display: block;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.scroll_nav::-webkit-scrollbar {
    width: 2px;
}  
.scroll_nav::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 5px;
}
.menu-categorias li a{    
    font-size: 25px;  
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.menu-categorias >li{
    float: left;
}
.menu-categorias  li a:hover{
    color: white ;  
}
.menu-categorias ul li a:hover{
    color: #c2bad4 ;  
}

.menu-categorias li ul{
    display:none ;
    position: absolute;
    min-width: 140px;
    background-color: rgb(255, 242, 218);
    border-top: #ffffff solid 2px;
    border-bottom:#ffffff solid 2px; 

}
.menu-categorias li:hover>ul{
    display: block;
}
.menu-categorias li ul li ul{
    right: -240px;
    top:-2px
}
.perfil{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}
.fa-graduation-cap{

    margin-right: 25px;
    margin-left: 25px;
}
.fa-graduation-cap:hover{
    color: white;
    cursor: pointer;
}

/*--------------------------------*/

.nav-perfil li a{  
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav-perfil  li a:hover{
    color: white ;  
}
.nav-perfil ul li a:hover{
    color: #c2bad4 ;  
}
.nav-perfil li ul{
    display:none ;
    position: absolute; 
    background-color: rgb(255, 242, 218);
    border-radius: 2px;
    border-top: #ffffff solid 2px;
    border-bottom:#ffffff solid 2px; 


}
.nav-perfil li:hover>ul{
    display: block;
}

