.contenedor{
    width: 90%;
    margin: 0 auto;
}
.cabecera{
    height: 170px;
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px #c2bad4 solid;
}
.usperfil{
    width: 150px;
    height: 150px;   
    border-radius: 100px;
}
.usname{
    margin-left: 25px;
}
.grupo{  
    display: flex;
}
.subgrupo-info-us{
    width: 40%;
}
.info-personal{

    width: 60%;
}
hr{
    margin-top: 15px;
    margin-bottom: 15px;
    border: #c2bad4 solid 1px;
}
.btn-edit{
    display: flex;
    justify-content: center;
}
.subgrupo-info-cursos{
    width: 50%;
}
.bloque{
    background-color: white;
    margin-bottom: 25px;
    padding: 25px;
}
.cont{
    width: 100%;
    display: flex;
    align-content: center;
}
.info{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*Empieza contenido cursos*/

.bloque-tittle{
display: flex;
}
.bloque-ultimo-curso{
    display: flex;
    align-items: center;
    height: 300px;
    padding: 5px;
}
.icon, .descripcion{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}
.cuadro1, .cuadro2{
    width: 50%;
}
.cuadro2{
    text-align: right;
}
.link:hover{
    color: #dad8e6;
}
.btn-edit:hover{
    color: #dad8e6;
}
.miniatura{
    width: 95%;
    height: 60%;
}
.porcentaje{
    color: #dad8e6;
}
.Cont-ultimo-curso{
    border-bottom: 1px solid #c2bad4;
}
/*Modal*/

.modal{
    position: fixed;
    left: 0;
    background: rgba(88, 58, 102, 0.575);
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.35s ease;

}

.modal .contenido-modal{
    width: 100%;
    max-width: 650px; 
    position: fixed;
    left: 50%;
    transition: top .35s ease;
    margin-left: -250px;
    background: rgb(255, 242, 218);
    border-radius:5px;
}
header{
    width: 100%;

    display: flex;
    justify-content: center;
}
header h1{
    width: 100%;
    margin-left: 25px;
    color: #dad8e6;
}
/*
.modal h2{
    background-color: #0c085c;
    padding: .5em;
    text-align: center;
    margin: 0;
}*/
.modal article{
    height: 300px;    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.x{
    width: 50%;
    padding: 5px;
    margin-right: 15px;
    
}
.cerrar{
    text-align: right;
}
.modal:target{
    opacity: 1;
    top: 0;
}
.modal .btn-cerrar{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal:target .contenido-modal{
    top: 30%;
    transition: top .35s ease;
}

.contenedor-answer{
    width: 100%;
    height: 300px;
}

.cont-resp{
    width: 80%;
    height: 100%;
}
.cont-coment-resp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.cont-btns{
    display: flex;
    align-items: center;
}
.archivo{
    width: 80%;
}


/*jijiji*/

.bloque-divdos{
    width: 100%;
    height: 100%;
    padding: 26px;
} 
.menus{
    background-color: rgb(231, 236, 255);
    border: #262040 2px solid;
    border-radius: 10px;
    height: 100%;
}
.bloque-menu{

    display: flex;
    height: 87%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-content: center;
}
scroll-container {
    width: 100%;
    height: 500px;
    text-align: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.bloque-contenido{
    scroll-behavior: auto;
    flex-wrap: wrap;
}

.contenedor-menus{
    background-color: cadetblue;
    width: 100%;
    text-align: center;
}
.selector{
    width: 40%;
    justify-content: right;
    margin-right: 5px;
    display: flex;
    height: 40%;
}
input[type="radio"]{
    display: none;
}

.contenedor-categoria{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border-bottom: 1px solid #dad8e6;
    border-top: 1px solid #dad8e6;
    margin-bottom: 25px;
}
.separacion{
    border-right: 1px solid #dad8e6;
}
.design-tittle{
    width: 100%;
    font-size: 30px;
}
.contenedor-categoria label{
    width: 50%;
    text-align: center;
    cursor: pointer;
}
.contenedor-categoria label:hover{
    opacity: .5;
}

.ft{
    display: flex;
    align-items: center;
    color: transparent ;    
}
.file{
    position: absolute;
    width: 95px;
}
::-webkit-file-upload-button{
    width: 95px;
    padding: 8px 15px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    background:transparent;
    color: transparent;
    border: none;
    border-radius: 50px;
    outline:none;
}
.file:active{
    outline:none;
}
.contenedor-Preg, .contenedor-resp{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.perfilus{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.bloque-editar{
    width: 80%;

}
.btn-guardado{
    text-align: center;
    

}
.btn-guarda{
    background-color:transparent; 
    width: 50%;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px; 
    color: #c2bad4;
}
.btn-guarda:hover{
    color: #4e3864;
}
.divisorio{
    margin-top:20px ;
    display: flex;
}

#Respuestas:checked ~ #Registro .contenedor-Preg,
#Respuestas:checked ~ #Registro .contenedor-util,
#Respuestas:checked ~ #Registro .contenedor-Noutil,
#Respuestas:checked ~ #Registro .contenedor-Fav{
    display:none;
}
#Preguntas:checked ~ #Registro .contenedor-util,
#Preguntas:checked ~ #Registro .contenedor-Noutil,
#Preguntas:checked ~ #Registro .contenedor-Fav,
#Preguntas:checked ~ #Registro .contenedor-resp{
    display:none;
}
#Util:checked ~ #Registro .contenedor-Noutil,
#Util:checked ~ #Registro .contenedor-Preg,
#Util:checked ~ #Registro .contenedor-Fav,
#Util:checked ~ #Registro .contenedor-resp{
    display:none;
}
#No-util:checked ~ #Registro .contenedor-util,
#No-util:checked ~ #Registro .contenedor-Preg,
#No-util:checked ~ #Registro .contenedor-Fav,
#No-util:checked ~ #Registro .contenedor-resp{
    display:none;
}
#Favorito:checked ~ #Registro .contenedor-util,
#Favorito:checked ~ #Registro .contenedor-Preg,
#Favorito:checked ~ #Registro .contenedor-Noutil,
#Favorito:checked ~ #Registro .contenedor-resp{
    display:none;
}